* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    padding: 2em;
    font-family: 'Orbitron', sans-serif;
}

#frame {
    width:450px;
    height:450px;
    margin: 0 auto;
    background-color: #cf3e3e;
    border-radius: 20px;
    padding: 48px;
}

#container {
    background-color: lightgray;
    width:350x;
    margin: 0 auto;
    height: 350px;
    display:flex;
    flex-wrap: wrap;
    
}


.cell {
    
    background-color: lightgray;
    
}

#controls{
    margin-top: 30px;
    background-color: white;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#slider p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color:#cf3e3e;
    color: white;
    font-size: 1.2em;
    padding: 1.5em;
    border-radius: 10px;
    border: none;
    transition: 0.2s ease;
}

button:hover{
    background-color: #f51616;
    color:#eeeeee;
    transform: scale(1.1);
    
}